

h1,h2,h3{
    font-family: 'Fredericka the Great', cursive;
    text-align: center;
    text-transform: uppercase;
    color: red;
}

h4,h5,h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    color: #F2B705;
}

h1{
    font-size: 600%;
    font-weight: 200;
}

h2{
    font-size: 400%;
    font-weight: 200;
}

h2::after{
    display: block;
    background-color: #078C31;
    height: 5px;
    width: 100px;
    margin: 40px auto 30px;
    content: " ";
}

h4{
    font-size: 150%;
    font-weight: 150%;
    padding: 20px 0;
}

p,li,a{
    font-family: 'Open Sans', sans-serif;
    color: #404040;
}

p.destaque{
    font-size: 130%;
    line-height: 1.8;
    font-weight: 300;
    text-align: center;
    width: 60%;
}

/*ELEMENTOS DO HEADER*/

header div.chamada h1{
    color: #FFF;
    text-shadow: 4px 6px 10px #000;
}

header div.chamada h4{
    font-size: 250%;
    text-shadow: 4px 6px 10px #000;
    margin-bottom: 55px;
}

header div.chamada a{
    font-size: 110%;
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 20px 80px;
    border-radius: 50px;
    display: inline-block;
    /*é a transição suave de uma cor para outra, para utiliza-lo deverá ser informado a cor desejada em seguida porcentagem dessa cor que se deseja colocar*/
    background: linear-gradient( rgba( 7, 140, 49, 55) 0%, rgba( 6, 89, 2, 35)100%);
}

header div.chamada{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 50%;
    left: auto;
    text-align: center;
}

section{
    padding: 55px 0 80px;
}


/*DOMINGO PERFEITO*/

section#domingo-perfeito{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-around;
}

div#domingo-perfeito-esquerda,
div#domingo-perfeito-direita{
    position: relative;
    width: 15%;
}

div.pontos-chaves h4{
    color: #404040;
}

div.pontos-chaves h4:after{
    display: block;
    background-color: #078C31;
    height: 5px;
    width: 30%;
    margin: 20px auto 10px;
    content: " ";
}